@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/*Início das configurações do HEADER*/
header {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}
.header-conteudo {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header-logo > img {
    width: 80px;
}

.header-menu {
    flex: 1;
    display: flex;
    justify-content: end;
}
.header-menu ul, .header-menu li {
    list-style: none;
}
.header-menu ul {
    display: flex;
}
.header-menu li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000000;
}
.header-menu li a:hover, .header-menu .active > a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}
/*Fim das configurações do HEADER*/


/*Início das configurações do MAIN*/
.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
    padding: 15px 35px;
    margin-top: 20px;
    border-radius: 15px;
}
/*Fim das configurações do MAIN*/


/*Início das configurações do BANNER em MAIN*/
.main-banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.main-sliders {
    width: 1000vw;
    height: 100%;
}
.main-slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.main-slide-area {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}
.main-slide-area > h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    line-height: 0.9em;
}
.main-slide-area > h1 > span {
    color: #b28756;
}
.main-slide-area > h2 {
    text-transform: uppercase;
    margin-top: 7px;
    font-size: 25px;
}
.main-sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-pointer {
    width: 15px;
    height: 15px;
    border: 3px solid #b28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.main-pointer.active {
    background-color: #b28756;
}
/*Fim das configurações do BANNER em MAIN*/


/*Início das configurações do DEFAULT em MAIN*/
.main-default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-default-title, .main-default-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.main-default-title {
    font-size: 20px;
}
.main-default-desc {
    font-size: 12px;
    color: #acacac;
    margin-top: 10px;
    margin-bottom: 40px;
}
.main-default-body {
    margin: auto;
    max-width: 1140px;
}
.main-default.light {
    background-color: #f7f7f7;
}
.main-default.light > .main-default-title, .main-default.light > .main-default-body {
    color: #000;
}
.main-default.dark {
    background-color: #000;
}
.main-default.dark > .main-default-title, .main-default.dark > .main-default-body {
    color: #FFF;
}
/*Fim das configurações do DEFAULT em MAIN*/


/*Início das configurações do DEFAULT "ABOUT US" em MAIN*/
.main-default-aboutus {
    display: flex;
}
.main-default-aboutus-left {
    flex: 1;
}
.main-default-aboutus-left > p {
    font-size: 14px;
    line-height: 25px;
}
.main-default-aboutus-right {
    width: 520px;
    text-align: center;
}
.main-default-aboutus-right > img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
/*Fim das configurações do DEFAULT "ABOUT US" em MAIN*/


/*Início das configurações do DEFAULT "SERVICES" em MAIN*/
.main-default-services {
    display: flex;
}
.main-default-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 20px;
}
.main-default-service:first-child {
    border-left: 1px solid #333;
}
.main-default-service h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.main-default-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
/*Fim das configurações do DEFAULT "SERVICES" em MAIN*/


/*Início das configurações do DEFAULT "PROJECTS" em MAIN*/
.main-default-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-default-projects-filters {
    border: 1px solid #D6D6D6;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.main-default-projects-filters ul,
.main-default-projects-filters li {
    list-style: none;
}
.main-default-projects-filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #D6D6D6;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.main-default-projects-filters li:hover, 
.main-default-projects-filters li.active {
    border-bottom: 3px solid #b28756;
}
.main-default-projects-filters li:first-child {
    border-left: 0px;
}

.main-default-projects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-default-projects-photo {
    width: 280px;
}
.main-default-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.main-default-projects-photoarea img {
    width: inherit;
    height: inherit;
}
.main-default-projects-photoinfo {
    display: none;
}
/*Fim das configurações do DEFAULT "PROJECTS" em MAIN*/